<div class="card h-100">
  <img [src]="productItem.image" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{productItem.title}}</h5>
    <p class="card-text">{{productItem.description}}</p>
    <p class="card-text">price: {{productItem.price | currency}}</p>
    <div class="d-flex gap-3">
      <button class="btn btn-success" (click)="showDetails()">More Details</button>
      <button class="btn btn-info" (click)="quantity()">quantity: {{quantityCount}}</button>
    </div>
  </div>
</div>
