<div class="container p-5">
  <form [formGroup]='loginForm' (ngSubmit)="submitValue()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" [ngClass]="{'is-valid':controls.logInEmail.valid}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="logInEmail"
        formControlName="logInEmail">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      <div>
        <small *ngIf="controls.logInEmail.errors?.required && controls.logInEmail.touched">
          the emil is Required
        </small>
        <small *ngIf="controls.logInEmail.errors?.required && controls.logInEmail.touched">
          the emil is incorrect
        </small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="logInPassword"
        formControlName="logInPassword">
        <div>
            <small *ngIf="controls.logInPassword.errors?.required && controls.logInPassword.touched">
              the password is Required
            </small>
            <small *ngIf="controls.logInPassword.errors?.required && controls.logInPassword.touched">
              the password is incorrect
            </small>
          </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Log in</button>
  </form>
  <div class="text-center">
    or you don't have  account? <a (click)="navigate()">Regester</a>
  </div>
</div>
